__pycache__/
.ipynb_checkpoints
*.DS_Store

/lung_cancer/data/sample_images
/lung_cancer/data/stage1
/lung_cancer/data/luna16
.idea/fileTemplates/
.idea/
*.h5

*.aux
*.bbl
*.blg
*.dvi
*.log
*.pdf

*.csv
*.gz
